@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.headernav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.2em;
    margin: 0;
    background-image: linear-gradient(to top,  #333333, #000000);
    border-radius: 0;
  }
  
  .headernav__header {
    padding: 10px;
    text-align: center;
  }
  
  .headernav__tittle {
    margin: 0;
    padding-left: 1em;
    font-size: 2.8rem;
    color: rgb(255, 230, 0);
    font-family: "noto sans";
  }
  .headernav__section {
    display: flex;
    justify-content: end;
    width: 80%;
  }
  
  .headernav__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;
    margin: 0.5em;
  }
  
  .headernav__buttons button {
    padding: 0.4em 0.8em;
    font-size: 16px;
    background-color: #c8d9df79; /* Color de fondo azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
  }
  
  .headernav__buttons button:hover{
    background-color: #017f9f;
  }
  
  .headernav__buttons button:focus {
    outline: none; /* Quita el contorno al hacer clic en el botón */
  }
  .headernav__buttons button.active {
    background-color: #005f78;
  }