@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.services__card-container {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.services__tilte {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    font-family: "noto sans";
    width: 100%;
    height: 3.5em;
}
.services__title-01 {
    font-size: 3rem;
    color: antiquewhite; /* Color oscuro más tenue */
    position: absolute;
    z-index: 2; /* Coloca el título 1 por encima */
    font-weight: 700;
  }
  
  .services__title-02 {
    font-size: 5.3rem;
    font-weight: 900;
    color: rgb(225, 225, 225); /* Color negro */
    position: absolute;
    bottom: -0.5em;
    z-index: 1; /* Coloca el título 2 por debajo */
    opacity: 0.1; /* Opcional: hacer que el título 2 sea más tenue */
  }
.services__map{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 1em;
    margin-top: 2em;
    height: 80%;
}
.services__card {
    position: relative;
    background-color:  #c8d9df40;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 16em;
    min-width: 22em;
    cursor: pointer;
    transition: background-image 2s ease, transform 0.3s;
}
.services__card:hover {
    transform: translateY(-5px);
    background-color:  none;
}
.services__card:hover .services__card-name {
    display: none;
}
.services__card.seo:hover {
    background-image: url('/fiza-seo-service.jpg'); 
    background-size: cover;
    transform: ease 1s;
}
.services__card.posting:hover {
    background-image: url('/fiza-building-guide.png'); 
    background-size: cover;
    transform: ease 1s;
}
.services__card.Marketing:hover {
    background-image: url('/fiza-wdev-service.jpg'); 
    background-size: cover;
    transform: ease 1s;
} 
.services__card.content-writing:hover {
    background-image: url('/fiza-content-marketing-writers-service.jpg'); 
    background-size: cover;
    transform: ease 1s;
} 
.services__card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43%;
    width: 100%;
}

.img__container {
    width: 60%; /* Adjust to your requirements */
    height: 90%; /* Adjust to your requirements */
    background-size: cover;
    background-position: center;
    display: none;
}


.services__card-name {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: "noto sans";
    color: rgb(255, 230, 0);
    width: 100%;
    align-items: center;
}
.services__card-name hr {
    width: 55%;
}

/*-- SERVICES__DESCRIPTION --*/
.services__description {
    background-color:  #06739a;
    display: none;
    opacity: 0;
    color: rgb(255, 213, 0);
    position: absolute;
    width: inherit;
    z-index: 4;
    bottom: -0.2;
    height: auto;
    padding: 1em;
    transition: opacity 0.5s ease, bottom 3s ease;
}
.services__description span {
    font-family: "noto sans";
    font-size: 1.2rem;
} 
.services__card:hover .services__description {
    display: block;
    opacity: 1;
    bottom: -7em; /* Adjust to move it slightly more out of the bottom on hover */

}   