@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.homePage {
    width: 80%;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 12em;
}
.sections {
    display: flex;
    align-items: center;
    color: antiquewhite;
    min-width: 100%;
    height: 48em;
    background-image: linear-gradient(to top,  #33333360, #000000);
}

.home__section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: "noto sans";
    font-weight: 600;
    padding: 2em;
    position: relative;
    justify-content: center;
    margin-bottom: 2em;
    overflow: hidden;
}
.home__hi {
    color: rgb(255, 230, 0);
    margin-left: 0.5em;
    font-size: 1.8rem;
}
.home__name {
    font-size: 5.5rem;
}
.span__name02 {
    color: rgb(255, 230, 0);
}
.home__title {
    font-size: 1.8rem;
    z-index: 2;
}
.home__img {
    position: absolute;
    height: 100%;
    left: 36em; bottom: -6.55em;
}
.home__img img {
    height: 85%;
}
.home__btn-container {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
}
.home__btn {
    display: flex;
    gap: 0.8em;
}
.home__btn button {
    padding: 0.4em 0.8em;
    height: 2.5em;
    width: 10.5em;
    font-size: 16px; 
    font-weight: 500;
    background-color: #c8d9df79; /* Color de fondo azul */
    color: rgb(255, 249, 238);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
} 
.home__btn button:hover{
    background-color: rgb(255, 230, 0);
    color: black;
    font-weight: 700;
  }
  
  .home__btn button:focus {
    outline: none; /* Quita el contorno al hacer clic en el botón */
  }

  /* ---ABOUT SECTION---*/
.about__section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* --SERVICES SECTION -- */
.service__section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* --SkillS SECTION -- */
.skills__section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* --PROJECTS SECTION -- */
.projects__section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}

/* --My Blog Section -- */
.blog__section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}