@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.projects__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    justify-content: space-evenly;
}
.projects__header {
    background-color: blueviolet;
}

.projects_header-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    font-family: "noto sans";
    width: 100%;
    background-color: aliceblue;
}
.projects__title-01{
    font-size: 3rem;
    color: antiquewhite; 
    position: absolute;
    z-index: 2;
    font-weight: 700;
}
.projects__title-02{
    font-size: 5.3rem;
    font-weight: 900;
    color: rgb(225, 225, 225);
    position: absolute;
    bottom: -0.8em;
    z-index: 1; 
    opacity: 0.1; 
}
.projects__body {
    height: 75%;
    background-color: rgb(51, 216, 242);
}