@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.about__container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 40em;
}
.about__title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    font-family: "noto sans";
    width: 100%;
    height: 4em;
}
.about__title-01 {
    font-size: 3rem;
    color: antiquewhite; /* Color oscuro más tenue */
    position: absolute;
    z-index: 2; /* Coloca el título 1 por encima */
    font-weight: 700;
}

.about__title-02 {
    font-size: 5.3rem;
    font-weight: 900;
    color: rgb(225, 225, 225); /* Color negro */
    position: absolute;
    bottom: -0.6em;
    z-index: 1; /* Coloca el título 1 por debajo */
    opacity: 0.1; /* Opcional: hacer que el título 2 sea más tenue */
  }
.about__info-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: last baseline;
    height: 80%;
    min-width: 100%;
    position: relative;
}
.about__img {
    position: absolute;
    left: 1em; bottom: -2.65em;
}
.about__img img {
    height: 35em;
}
.about__description {
    width: 45%;
    height: 20em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 1em;
    justify-content: space-evenly;
    z-index: 2;
}
.about__div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about__span-tag {
    font-size: 1.8rem;
    font-family: "noto sans";
    font-weight: 600;
    width: 40%;
}
.about__span-info{
    font-size: 1.4rem;
    font-family: "noto sans";
    font-weight: 500;
    color: rgb(255, 230, 0);
}
.about__projects{
    font-size: 1.3rem;
    font-family: "noto sans";
    font-weight: 600;
    display: flex;
    margin-left: 2em;
    gap: 0.5em;
}
.about__span-projects {
    color:  rgb(255, 230, 0);
    font-weight: 700;
    font-size: 1.5rem;
}
.about__btn-container {
    width: 100%;
    height: 4em;
    display: flex;
    margin-left: 6em;
    align-items: last baseline;
}
.about__btn {
    width: 16em;
    height: 3em;
    font-size: 16px; 
    font-weight: 500;
    background-color: #c8d9df79; /* Color de fondo azul */
    color: rgb(255, 249, 238);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
} 
.home__btn button:hover{
    background-color: rgb(255, 230, 0);
    color: black;
    font-weight: 700;
  }
